.cart_page {
  position: relative;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.cart_page .tittle_div {
  margin-top: 60px;

  display: flex;
  flex-direction: column;
}
.tittle_div span {
  color: var(--Color-Text-Dark, #041e42);
  text-align: center;
  font-family: Jost;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
}

.tittle_div p {
  margin-top: 60px;
  color: #000;
  text-align: center;

  font-family: Jost;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
}
.tittle_div .process_bar {
  margin-top: 30px;
  width: 424px;
  height: 6px;

  background: #f3f5f6;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.process_bar div {
  width: 241px;
  height: 6px;

  background: #f5c34b;
  border-radius: 6px;
}

.process_bar img {
  width: 37px;
  height: 40px;
}

.cart_page .shop_cart_frame {
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.shop_cart_frame .container {
  flex-direction: row;
  justify-content: space-between;
}
.shop_cart_frame .container .cart_main {
  width: 872px;
  height: auto;

  display: flex;
  flex-direction: column;
  background: #ffff;
}

.cart_main .cart_main_center {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;

  border: 1px solid #eaeaea;
}

.cart_main .cart_top_menu {
  padding: 0px 20px;
  width: auto;
  height: 70px;

  display: flex;
  flex-direction: row;
  align-items: center;
  background: #f3f4f5;
  border-radius: 6px 6px 0px 0px;
}

.cart_top_menu span {
  color: var(--Color-Text-Dark, #041e42);

  font-family: Jost;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}

.cart_main .cart_box_wrapper {
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
}

.cart_box_wrapper .cart_box {
  margin-top: 30px;

  padding: 0px 20px;
  width: auto;
  height: 153px;

  display: flex;
  flex-direction: row;

  border-radius: 1px solid #eaeaea;
}

.cart_box .product_info {
  width: 359px;
  height: auto;

  display: flex;
  flex-direction: row;
  cursor: pointer;
}
.product_info img {
  width: 93.297px;
  height: 100px;
}

.product_info .product_info_main {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}

.product_info_main p {
  color: var(--Color-Text-Dark, #041e42);

  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.cart_box .cart_price {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  width: 118px;
  color: var(--Color-Text-Dark, #041e42);
  text-align: right;

  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}

.cart_box .cart_quantity {
  width: 155px;
}

.cart_quantity .add_remove_box {
  width: 102px;
  height: 42px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: white;
  border: 1px solid var(--Color-Border, #eaeaea);
  border-radius: 60px;
}

.cart_box .total_price {
  width: 60px;
  height: 29px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  color: var(--Color-Text-Dark, #041e42);
  text-align: right;

  /* 16/Medium */
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}

.cart_box .img_div {
  margin-left: 110px;
  width: 13.062px;
  height: 14px;
}

.cart_main .cart_bottom {
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cart_bottom .coupon_box {
  padding: 17px;
  width: 360px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  border-radius: 6px;
  border: 1px dashed var(--Color-Text-Light, #626974);
  background: var(--Bg-White, #fff);
}

.coupon_box input {
  color: var(--Color-Text-Dark, #041e42);

  /* 15 / Regular */
  font-family: Jost;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 146.667% */
}
.coupon_box span {
  color: var(--Color-Text-Dark, #041e42);
  font-family: Jost;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 146.667% */
  text-decoration-line: underline;
}

.cart_bottom button {
  width: 198px;
  height: 52px;
  background-color: white;
  display: inline-flex;
  padding: 15px 35px;
  align-items: flex-start;
  gap: 10px;

  border-radius: 6px;
  border: 2px solid var(--Bg-2, #f5c34b);

  color: var(--Color-Text-Dark, #041e42);
  text-align: center;

  /* 15 / Medium */
  font-family: Jost;
  font-size: 15px;
  font-style: normal;
  font-weight: 300px;
}

.cart_bottom .upt_btn {
  width: 152px;
  height: 52px;

  display: inline-flex;
  padding: 15px 35px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 6px;
  border: 1px solid var(--Bg-2, #f5c34b);
  background: var(--Bg-2, #f5c34b);

  /* Button-Shadow */
  box-shadow: 0px 5px 20px 0px rgba(245, 195, 75, 0.15);

  color: var(--Color-Text-Dark, #041e42);
  text-align: center;

  /* 15 / Medium */
  font-family: Jost;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 146.667% */
}

.shop_cart_frame .container .cart_price_box {
  padding: 30px;
  width: 422px;
  height: 418px;

  display: flex;
  flex-direction: column;

  background: #fff;

  border: 1px solid #eaeaea;
  border-radius: 6px;
  box-sizing: border-box;
}

.cart_price_box .box_tittle {
  color: var(--Color-Text-Dark, #041e42);

  /* 20 / Medium */
  font-family: Jost;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.cart_price_box .cart_price_info {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
}

.cart_price_info div {
  margin-top: 20px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cart_price_info span {
  color: var(--Color-Text-Dark, #041e42);
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.cart_price_box .cart_total {
  margin-top: 30px;
  width: 365px;
  height: 55px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  border-radius: 6px;
  border: 1px solid var(--Bg-2, #f5c34b);
  background: var(--Bg-2, #f5c34b);

  /* Button-Shadow */
  box-shadow: 0px 5px 20px 0px rgba(245, 195, 75, 0.15);
}

.cart_total span {
  color: var(--Color-Text-Dark, #041e42);
  text-align: center;

  /* 15 / Medium */
  font-family: Jost;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
}
