.home_page {
  display: flex;
  flex-direction: column;
}

.header_frame {
  position: relative;
  margin-top: 47px;
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
}

.header_frame .container {
  flex-direction: row;
}

.container .header_left {
  padding: 15px;
  position: relative;
  width: 875px;
  height: 588px;
  border-radius: 5px;

  background-color: #0053f6;
  background-image: url(../images/Rectangle\ 55.png);
}
.header_left .header_content {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
}

.header_content div {
  width: 104px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 6px;
  background: var(--Bg-2, #f5c34b);
  color: var(--Color-Text-Dark, #041e42);

  /* 13 / Medium */
  font-family: Jost;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 169.231% */
}

.header_content span {
  margin-top: 10px;
  width: 428px;
  color: var(--Bg-White, #fff);

  /* 60/Medium */
  font-family: Jost;
  font-size: 60px;
  font-style: normal;
  font-weight: 500;
  line-height: 70px;
}

.header_content p {
  margin-top: 10px;
  color: var(--Bg-White, #fff);

  /* 16/Regular */
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}

.header_content a {
  margin-top: 20px;
  width: 140px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 6px;
  border: 1px solid var(--Bg-White, #fff);
  background: var(--Bg-White, #fff);
  color: var(--Color-Text-Dark, #041e42);
  text-align: center;

  /* 15 / Medium */
  font-family: Jost;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 146.667% */
}

.header_content img {
  position: absolute;
  right: 10px;
}

.container .header_right {
  position: relative;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header_right .header_box {
  width: 422px;
  height: 240px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  background: #f2f2f2;
}

.header_right .box_left {
  margin-left: 30px;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box_left span {
  color: #0053f6;

  /* 15 / Medium */
  font-family: Jost;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}

.box_left p {
  margin: 10px -6px;
  color: var(--Color-Text-Dark, #041e42);

  /* 26/Medium */
  font-family: Jost;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.box_left a {
  color: var(--Color-Text-Dark, #041e42);

  /* 15 / Medium */
  font-family: Jost;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 146.667% */
}

.box_left .hover_border {
  margin-top: 3px;
  width: 32px;
  height: 2px;
  background: var(--Color-Text-Dark, #041e42);
}

.header_box .box_right {
  width: 50%;
}
.box_right img {
  width: 100%;
  height: 100%;
}
